<div class="content">
    <div class="sep">
        <img class="blason" src="/assets/blason/cartel.png">

        <h1>Bienvenue dans le Cartel !</h1>

    </div>

    <p>
        Règlement de la guilde & discord :<br><br>

        La politesse est définie par un code. Elle demeure un ensemble de règles acquises par l'éducation.
        Afin de pouvoir cohabiter tous ensemble, de manière cohérente, amicale et efficace, voici le règlement que
        chaque membre qui compose notre guilde, quelque soit son rang ou son grade, devra suivre scrupuleusement sous
        peine d'être exclu avec avertissement préalable.<br><br>

        ▶ Les membres du Cartel sont égaux, personne n’est supérieur, que ce soit par le rang, le niveau, le
        nombre de Dofus, l’âge ou même les kamas.<br><br>

        ▶ Ne seront tolérée aucune insulte sur le canal guilde, qu'elle soit adressée à un membre de la
        guilde ou non, vulgarité et grossièreté sont exclues.<br><br>

        ▶ Les propos racistes et non-respectueux ne sont pas non plus tolérés dans la guilde.<br><br>

        ▶ La politesse se traduit tous les jours par l'utilisation de certains termes comme bonjour, au
        revoir, bienvenue, s'il vous plaît, ou merci<br><br>

        ▶ Si un membre rencontre un problème avec un autre membre, il ne règle pas ses comptes sur le canal
        guilde, il pourra s’il le souhaite contacter en privé le meneur ou l'un de ses bras droit qui servira
        éventuellement de médiateur.<br><br>

        ▶ Par respect pour le blason du Cartel, il est interdit d'insulter, de se moquer, de voler ou
        d'arnaquer, les autres membres de la guilde, d'alliance ou tout autre joueurs par n'importe quel biais.<br><br>

        ▶ Tout membre qui entachera le blason du Cartel en ne respectant pas les règles se verra exclu de la
        guilde.<br><br>

        Règlement Percepteur :<br><br>

        ▶ Afin que tous les membres puissent profiter des services de la guilde, un membre ne peut poser
        plus de 2 percepteur à la fois.<br><br>

        ▶ Un percepteur plein devra être récolté au plus vite.<br><br>

        ▶ Enfin en cas d’attaque de percepteur, tous les membres non occupé se doivent de venir défendre le
        percepteur d’un camarade même en cas de combat perdu d’avance (cela permettra de débloquer vos droits de poser
        un percepteur).<br><br>

        ▶ Cette dernière règle vise à montrer que peut importe l’issu du combat nous protégeons nos
        percepteurs avec honneur et courage.<br><br>

        ❌ EN PVP (et pas seulement) : No Insulte, no TrashTalk, No Provoc -> image de la guilde
        ❌ LE FOCUS PERCOS EST INTERDIT<br><br>

        Merci de bien vouloir prendre conscience de toutes ses règles, ce règlement est susceptible de changer à tout
        moment.</p>




</div>