<div class="boxMain">
    <div class="docNav">
        <ul class="nav">
            <li class="navitem">Général</li>
            <li>Percepteurs</li>
            <li>Alliance</li>
            <li>AvA</li>
        </ul>
    </div>
    <div class="landingPage">
        <h1>Bienvenue sur la documentation</h1>
        <div class="descLanding">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur nihil eveniet obcaecati illum quidem,
                maiores repellat, consectetur earum non porro impedit? Rerum blanditiis optio unde nobis recusandae
                fugiat
                est quo!</p>
        </div>

    </div>

    <div class="content">
        <!--BOOL SUR LES DIV POUR AFFICHAGE NGIF-->
    </div>
</div>