<div class="content">
    <div class="boxMain">
        <div class="sep">
            <img class="blason" src="/assets/blason/cartel.png">
            <h1 class="title">CARTEL</h1>
        </div>


        <div class="preambule">
            <h2>PRÉAMBULE</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat porro dolorem dolor illum.
                Alias, est pariatur omnis temporibus, necessitatibus velit rem totam aperiam sit sapiente reprehenderit
                fugit illum blanditiis.</p>
        </div>
        <div class="news">
            <h2>ACTUALITES & INFORMATIONS</h2>


            <div class="newsContainer">
                <h3>NOUVEAU BRAS DROIT</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt fugiat porro dolorem dolor illum.
                    Alias, est pariatur omnis temporibus, necessitatibus velit rem totam aperiam sit sapiente
                    reprehenderit
                    fugit illum blanditiis.</p>

            </div>

        </div>
    </div>


</div>